---
const today = new Date()
---

<footer class='bg-regal-blue text-white p-10 text-center mt-auto'>
	&copy; {today.getFullYear()}
	<a href='https://zaborowski.dev'>Zaborowski.dev</a>. All rights reserved.
</footer>
