---
import { SITE_TITLE } from '../consts'
---

<header>
	<nav class='bg-regal-blue p-8 2xl:px-40'>
		<h2 class="text-xl font-bold"><a href='/' class="!text-white !no-underline">{SITE_TITLE}</a></h2>
	</nav>
</header>
